[Unit]
Description=Phosphor BMC Console SSH socket for MTIA Blade 12
Wants=obmc-console@ttyS0.service

[Socket]
ListenStream=2212
Accept=yes

[Install]
WantedBy=sockets.target
