[Unit]
Description=Phosphor BMC Console SSH socket for MTIA Blade 8
Wants=obmc-console@ttyS0.service

[Socket]
ListenStream=2208
Accept=yes

[Install]
WantedBy=sockets.target
