[Unit]
Description=Phosphor BMC Console SSH socket for MTIA Blade 13
Wants=obmc-console@ttyS0.service

[Socket]
ListenStream=2213
Accept=yes

[Install]
WantedBy=sockets.target
