[Unit]
Description=Phosphor BMC Console SSH socket for MTIA Blade 9
Wants=obmc-console@ttyS0.service

[Service]
ExecStartPre=/usr/bin/select-uart-mux 9
ExecStart=/usr/sbin/sshd -i -h /etc/ssh/ssh_host_rsa_key -o "ForceCommand=/usr/bin/obmc-console-client -i mtia-blade"
SyslogIdentifier=console-client-ttyS0
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
KillMode=process
