[Unit]
Description=Phosphor BMC Console SSH socket for MTIA Blade 3
Wants=obmc-console@ttyS0.service

[Socket]
ListenStream=2203
Accept=yes

[Install]
WantedBy=sockets.target
