[Unit]
Description=MGMT-SFP Present Deassert

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/logging.sh mgmt_sfp_prsnt 1 cmm_blade