[Unit]
Description=Chassis%i Power Cycle 

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-state-manager/chassis-powercycle

[Install]
WantedBy=obmc-chassis-powercycle@%i.target